div.img1 {
  position: absolute;
  top:0px;
  left: 0px;
 }
 div.img2 {
 position: absolute;
   top:1070px;
   left: 50px;
 }
 
 div.img3{
   position: absolute;
   top:1430px;
   left: 650px;
 }
 div.img4{
   position: absolute;
   top:1370px;
   left:730px;
 }
 div.img5 {
 position: absolute;
   top:1380px;
   left: 50px;
 }
 p.josh1{
   position: absolute;
   top:1010px;
   left: 680px;
   height: 75px;
   background-color: #3E3535;
   font-size: 50px;
   font-family:Yu Gothic, sans-serif;
   font-weight: bold;
   text-align: center;
   color: white;
 }
 p.josh2{
   position: absolute;
   top:1150px;
   left: 450px;
   height: 435px;
   width: 810px;
   background-color: #C89D9D;
   font-size: 15hahahahpx;
   font-family:Yu Gothic, sans-serif;
   font-weight: bold;
 }
 p.josh3{
   position: absolute;
   top:1290px;
   left: 850px;
   font-size: 28px;
   font-family:Yu Gothic, sans-serif;
   font-weight: bold;
 }
 p.josh4{
   position: absolute;
   top:1520px;
   left: 755px;
   font-size: 20px;
   font-family:Yu Gothic, sans-serif;
   font-weight: bold;
 }
 p.josh5{
   position: absolute;
   top:1525px;
   left: 874px;
   font-size: 18px;
   font-family:Yu Gothic, sans-serif;
   font-weight: bold;
 }
 p.josh6{
   position: absolute;
   top:1515px;
   left: 1034px;
   font-size: 15px;
   width: 150;
   text-align: center;
   font-family:Yu Gothic, sans-serif;
   font-weight: bold;
 }
 .menu_bar
 {
  position: absolute;
     top: -8px;
     left: 190px;
     width: 900px;
     height: 10;
     font-size: 20px;
     font-family: rockwell;
 }
 .menu_bar ul
 {
     display: inline-flex;
     list-style: none;
 }
 ul{
   float: right;
   list-style-type: none;
   margin-top: 10px;
 }
 
 ul li{
   display: inline-block;
   width: auto;
   padding: 10px 20px;
 }
 
 ul li a{
   text-decoration: none;
   color: #fff;
   text-align: center;
  padding: 10px 15px;
   border: 1px solid transparent;
   transition: 0.6s ease;
 }
 
 ul li a:hover{
   background-color: #AFD804;
   color: #000;
 }
 
 ul li.active a{
   background-color: #AFD804;
   color: #000;
 }